{% extends "admin/layout.njk" %}
{% block header %}
    <title>Foodfy - Admin - Cadastrar chefs</title>
{% endblock %}
{% block content %}
    <div class="formulario">
        <p>Cadastrar chef</p>
        <form id="form-edit" action="/admin/chefs" method="post">
            {% include "admin/chefs/fields.njk" %}
        </form>
    </div>
{% endblock %}