{% extends "admin/layout.njk" %}
{% block header %}
    <title>Foodfy - Admin - chefs</title>
{% endblock %}
{% block content %}
     <div class="chefs-container">
         <a href="/admin/recipes/create">Cadastrar Chef</a>
         <p class="title-manager-chefs">Gerenciar Chefs</p>
        <div class="chefs">
            {% for chef in itemschefs %}
                <div class="chef" id="{{chef.id}}">
                    <div class="avatar-chef">
                        <img src="{{chef.avatar_url}}" alt="">
                    </div>
                    <div class="name-chef">
                        <p>{{chef.name}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
<script src="/js/recipesid-admin.js"></script>
{% endblock %}
