{% extends "admin/layout.njk" %}
{% block header %}
    <title>Foodfy - Admin - Cadastrar receita</title>
{% endblock %}
{% block content %}
    <div class="formulario">
        <p>Criando receita</p>
        <form action="/admin/recipes" method="post">
            {% include "admin/fields.njk" %}
            <button type="submit">Salvar</button>
        </form>
    </div>
{% endblock %}