{% extends "foodfy/layout.njk" %}
{% block header %}
    <title>Foodfy - Home</title>
{% endblock %}
{% block content  %}
<div class="chefs-container">
           <div class="chefs">
            {% for chef in itemschefs %}
                <div class="chef" id="{{chef.id}}">
                    <div class="avatar-chef">
                        <img src="{{chef.avatar_url}}" alt="">
                    </div>
                    <div class="chef-info">
                        <p>{{chef.name}}</p>
                        <p>{{chef.total_recipes}} Receitas</p>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>
 {% endblock %}