<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        {% block header %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="topo">
                <div class="logo">
                    <a href="/"><img src="/img/logo-preto.png" alt=""></a>
                </div>
                <div class="menu">
                    <a href="/sobre">Sobre</a>
                    <a href="/receitas">Receitas</a>
                </div>
            </div>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <div class="rodape">
                <div class="texto-rodape">
                    <p>Todos direitos reservados, receitas Foodfy.</p>
                </div>
            </div>
        </footer> 
    </body>
</html>