{% extends "layout.njk" %}
{% block header %}
<title>Foodfy - Página não encontrado</title>
<link rel="stylesheet" href="/css/404.css">
{% endblock %}
{% block content %}
    <div class="not-found">
        <p>Página Não encontrada!!!</p>
    </div>
{% endblock %}