@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topo {
    position: relative;
    margin-left: 150px;
    margin-top: 20px
}

.logo {
    position: absolute;
}

.menu {
    position: relative;
    left: 180px;
}

.menu a {
    color: black;
    font-size: 14px;
    line-height: 18px;
    margin: 0 20px;
    text-decoration: none;
}

.not-found {
    text-align: center;
    padding: 100px;
}

.home-container {
    position: relative;
    margin-left: 150px;
}

.recipes-container {
    margin-left: 150px;
}

.banner {
    width: 940px;
    height: 366px;
    position: relative;
    background-color: #FBDFDB;
    border-radius: 30px;
    margin: 30px;
}

.texto-banner {
    font-size: 14px;
    position: absolute;
    margin: 100px 40px;
}

.imagem-banner {
    position: relative;
    left: 700px;
    top: 70px
}

.sobre {
    position: relative;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 18px;
}

.sobre h1 {
    margin: 15px 0px;
    font-size: 20px;
}

.receitas {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 300px;
    max-height: 1px;
    gap: 10px;
    margin-bottom: 450px;
}

.receita {
    margin: 10px 0px;
}

.titulo-mais-acessado h1 {
    font-size: 24px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.imagem-receita img {
    border-radius: 15px;
    width: 300px;
    height: 140px;
}

.titulo-receita {
    font-size: 18px;
    margin-bottom: 6px;
}

.autor-receita {
    font-size: 14px;
    color: #777777
}

footer {
    margin-top: auto;
    text-align: center;
    width: 100%;
    background: #eee;
    color: #999;
    padding: 20px;
    font-size: 14px;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 70%;
    height: 70%;
    margin: 15vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
}

.modal-content {
    position: absolute;
    top: 50px;
    left: 110px
}

.modal-titulo {
    margin-top: 5px;
    text-align: center;
    font-size: 24px;
}

.modal-autor {
    text-align: center;
    font-size: 18px;
    color: #777777
}

.search-recipes {
    position: relative;
    left: 900px;
    bottom: 20px;
}

.chefs-container {
    margin-left: 120px;
    margin-top: 40px;
}

.chefs {
    margin: 0px 30px 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 300px;
    max-height: 1px;
    gap: 10px;
    margin-bottom: 450px;
}

.chef {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.avatar-chef img {
    border-radius: 50px;
    width: 64px;
    height: 64px;
}

.chef-info {
    display: inline;
}

.chef-name {
    font-size: 18px;
}

.chef-recipes-number {
    font-size: 18px;
    color: #666666;
}

.searchby-title {
    position: relative;
    top: 30px;
    left: 180px
}

.searchby-title p {
    font-weight: bold;
    font-size: 20px;
}

.imagem-receita-chefs img {
    border-radius: 40px;
    width: 300px;
    height: 200px;
}