{% extends "foodfy/layout.njk" %}
{% block header %}
    <title>Foodfy - Receitas</title>
{% endblock %}
{% block content %}
    <div class="recipes-container">
        <div class="receitas">
            {% for receitas in itemsreceitas %}
                <div class="receita" id="{{receitas.id}}">
                    <div class="imagem-receita">
                        <img src="/img/{{receitas.image}}" alt="">
                    </div>
                    <div class="titulo-receita">
                        <p>{{receitas.title}}</p>
                    </div>
                    <div class="autor-receita">
                        <p>por
                            {{receitas.author}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- <div class="modal-overlay"> <div class="modal"> <a class="close-modal"> <i class="material-icons">close</i> </a> <div class="modal-content"> <div class="modal-imagem"> <img src="" alt="" class="modal-imagem"> </div> <div class="modal-titulo"> <p></p> </div> <div class="modal-autor"> <p></p> </div> </div> </div> -->
    <script src="/js/recipesid.js"></script>
</div>
{% endblock %}