{% extends "admin/layout.njk" %}
{% block header %}
    <title>Foodfy - Admin</title>
{% endblock %}
{% block content %}
     <div class="recipes-container">
         <a href="/admin/recipes/create">Criar Receita</a>
         <p class="title-manager-recipes">Gerenciar Receitas</p>
        <div class="receitas">
            {% for receitas in itemsreceitas %}
                <div class="receita" id="{{receitas.id}}">
                    <div class="imagem-receita">
                        <img src="/img/{{receitas.image}}" alt="">
                    </div>
                    <div class="titulo-receita">
                        <p>{{receitas.title}}</p>
                    </div>
                    <div class="autor-receita">
                        <p>por
                            {{receitas.author}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="/js/recipesid-admin.js"></script>
{% endblock %}