{% extends "admin/layout.njk" %}
{% block header %}
    <title>Foodfy - Admin - Cadastrar receita</title>
{% endblock %}
{% block content %}
    <div class="formulario">
        <p>Criando receita</p>
        <form id="form-edit" action="/admin/recipes" method="post">
            {% include "admin/recipes/fields.njk" %}
        </form>
    </div>
    <script src="/js/addingredientsandsteps.js"></script>   
{% endblock %}