{% extends "admin/layout.njk" %}
{% block header %}
    <title>Visualizar recipe - {{recipe.title}} </title>
{% endblock %}
{% block content %}
   <div class="recipe-container-content">
        <p class="recipe-view-top-label"> recipe: {{recipe.title}}</p>
        <a class="recipe-view-top-button" href="/admin/recipes/{{recipe.id}}/edit">Editar recipe</a>
        <div class="recipe-container-content-image"></div>
        <img src="/img/{{recipe.image}}" alt="">
        <div class="recipe-container-content-title">
            <p>{{recipe.title}}<p>
        </div>
        <div class="recipe-container-content-author">
            <p>by {{recipe.author}}</p>
        </div>
        <div class="recipe-container-content-ingredients">
            <p>ingredientes</p>
        </div>
        <button class="ingredients-button">ESCONDER</button>
        <div class="recipe-container-ingredients-content">
            <ul>
                {% for ing in recipe.ingredients %}
                    <li>{{ing}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="recipe-container-content-preparation">
            <p>Modo de preparo</p>
        </div>
        <button class="preparation-button">ESCONDER</button>
        <div class="recipe-container-preparation-content">
            <ul>
                {% for prep in recipe.preparation %}
                    <li>{{prep}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="recipe-container-content-information">
            <p>Informações</p>
        </div>
        <button class="information-button">ESCONDER</button>
        <div class="recipe-container-information-content">
            <p>{{recipe.information}}</p>
        </div>
        <script src="/js/recipescript.js"></script>
        <script src="/js/menu.js"></script>
    </div>
{% endblock %}